<div width="80%" style="margin-left:10%; margin-right: 10%;">
<div class="container">
    <ul class="nav justify-content-end">
      <li class="nav-item" >
        <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="active">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="delete">Deleted</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="manage/users">Manage</a>
      </li>
      
    </ul>
  
  </div>
</div>
<router-outlet></router-outlet>