<div width="80%" style="margin-left:10%; margin-right: 10%;">
<hr >
<div class="container" >
    <div *ngFor="let user of users">
        <div *ngIf="user.isDeleted">
            <div class="card border-danger" style="margin-bottom:10px">
                <div class="card-body">
                    <h5 class="card-title">{{user.id}}</h5>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a href="#" class="btn btn-success ">Activate</a>
                </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>